* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --color-dark: #120F12;
    --color-light: #FFF9EA;
    --neutral-gray: #878287;
    --accent-red: #CD1E35;
    --accent-blue: #4334DE;
    --accent-red-light: #FF5C86;
    --accent-blue-light: #978DFF;
    --accent-red-dark: #581123;
    --accent-blue-dark: #1F1776;
    --text-body: 2rem;
    --text-heading: 3.3rem; 
    --text-big-heading: 4rem;
    --text-nav: 1.1rem;
    --body-font: Tahoma, Verdana, sans-serif;
    --heading-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--color-dark);
    color: var(--color-light);
    margin: 2rem;
}

.skip {
    opacity: 0;
    position: absolute;
    left: -9999px;
    color: var(--accent-blue-light);
}

.skip:focus {
    opacity: 1;
    color: var(--accent-blue-light);
    z-index: 1000;
    left: 15%;
    font-size: 2.2rem;
}

.nav_header {
    padding-bottom: 5rem;
    text-align: center;
}

.nav_header ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    gap: 30px;
    color: var(--neutral-gray);
}

.nav_header button {
    background: var(--accent-red-dark);
    color: var(--color-light);
    border: var(color-light);
    padding: .5rem 1rem;
    font-family: var(--body-font);
    font-size: var(--text-nav);
    border-radius: 10px;
}

.menu-button {
    display: none;
    background: var(--accent-red);
    color: var(--color-light);
    border: var(color-light);
    padding: .5rem 1rem;
    font-family: var(--body-font);
    font-size: var(--text-nav);
}

.skip {
    font-family: var(--body-font);
    font-size: var(--text-body);
    line-height: 1.6;
    color:#878287
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

@media (max-width: 768px) {

    :root {
    --text-body: 1.1rem;
    --text-heading: 2rem;
    --text-big-heading: 3rem;
  }

  .desktop-buttons button {
    display: none;
  }

  .menu-button {
    display: block;
    background: var(--accent-red);
    color: var(--color-light);
    border: var(color-light);
    padding: .5rem 1rem;
    font-family: var(--body-font);
    font-size: var(--text-nav);
}
}

