*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}

.page {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.page__inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}


.rte p,.rte li,.shopify-policy__body p,.shopify-policy__body li, .announcement-bar {
    font-family: "Poppins-Medium", sans-serif;
    font-weight: var(--font-body-weight);
    font-style: var(--font-body-style);
    font-size: 1.167rem;
    line-height: 2rem;
    letter-spacing: .04rem;
    word-spacing: .3rem;
    color: #22292D;
}

.page__heading {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: bold;
    font-style: var(--font-heading-style);
    font-size: 3rem;
    line-height: 2.625rem;
    letter-spacing: .04rem;
    word-spacing: .3rem;
    margin-bottom: 4rem;
    margin-top: 6rem;
    color: #22292D;
}

.no-js-menu, .navigation__submenu, .drawer-menu, .header__row-mobile, .quick-cart, .quick-search, .social-icons, .header__icon-touch, .navigation__submenu-trigger, .slider-nav-button, .store-availability-drawer, .ui-overlap {
    display: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: .1rem solid #E32C2B;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.header__row-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__links-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 4rem;
    color: #22292D;
    flex-wrap: wrap;
}

.header__links-list a {
    font-family: "Poppins-Medium", sans-serif;
    text-decoration: none;
    color: #22292D;
    font-size: 1.2rem;
    line-height: 1.75rem;
    letter-spacing: .04rem;
}

.li {
    text-decoration: none;
    color: #22292D;
}


.header__row-segment.right {
    justify-content: flex-end;
}

.header__row-segment {
    display: flex;
    align-items: center;
}

.header__skip-to-content {
    color: white;
}

.header__skip-to-content:focus {
    color: black
}

.announcement-bar {
    width: 100%;
    height: 3rem;
    background-color: #E32C2B;
    color: white;
    text-align: center;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.announcement-bar p {
    font-family: "Poppins-Medium", sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: .04rem;
}

.footer__group {
    display: flex;
    background-color: #22292D;
    color: #ffffff;
    font-family: "Poppins-Medium", sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.footer__group a {
    color: #ffffff;
    font-family: "Poppins-Medium", sans-serif;
}